@import "../Style/variables.scss";

.layout {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   width: 100vw;
   animation: slide 1s ease;
   @keyframes slide {
     0% {
       transform: translateY(-30%);
       opacity: 0;
     };
     100%{
      transform: translateY(0%);
       opacity: 1;
     };
   }
 }