@import '../../style/variables.scss';

.settingBar {
   height: 40px;
   background-color: white;
   display: flex;
   align-items: center;
   width: 100%;
   box-shadow: 0px 21px 8px -18px rgba(34, 60, 80, 0.2); 
   z-index: 0;
}